{% extends "base.html" %}

{% block title %}gist.io &middot; #{{ gist_id }}{% endblock %}

{% block content %}
<!-- <h1>Loading Gist #{{ gist_id }}…</h1> -->
<section class="content">
<header>
<h1 id="gistid"><a href="https://gist.github.com/{{ gist_id }}">gist #{{ gist_id }}</a></h1>
<h2 id="description" class="loading instapaper-title entry-title">Loading…</h2>
</header>
<div id="gistbody" class="instapaper-body entry-content"></div>
<footer>
<p><a href="/">gist.io</a> &middot; writing for hackers &middot; zero setup &middot; publish in seconds</p>
</footer>
</section>

<div class="modal hide fade" id="myModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 id="modal-header">Modal header</h3>
    </div>
    <div class="modal-body" id="modal-body"></div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true"></script>
<script src="https://s3.amazonaws.com/gistio/js/gmaps.js"></script>
<script src="https://s3.amazonaws.com/gistio/js/bootstrap.js"></script>
<script>
    function getParameterByName(name, url)
    {
        name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
        var regexS = "[\\?&]" + name + "=([^&#]*)";
        var regex = new RegExp(regexS);
        var results = regex.exec(url);
        if(results == null)
        return "";
        else
        return decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    var loadMaps = function() {
        var map_number = 1;
        $('.map').each(function(index) {
            var url = $(this).attr('href');
            var lat = 48.8;
            var lng = 2.3;
            var params = getParameterByName("ll", url);
            if (params) {
                lat = params.split(',')[0];
                lng = params.split(',')[1];
            }
            map_div = $(this).before("<div class='map_canvas' id='map-"+map_number+"'></div>");
            var infoWindow = new google.maps.InfoWindow({});
            var map = new GMaps({
                div: "#map-"+map_number,
                zoom: 12,
                lat: lat,
                lng: lng,
                mapType: 'Terrain',
            });
            map.loadFromKML({
                url: url+'&output=kml',
                suppressInfoWindows: true,
                events: {
                    click: function(point){
                        $('#modal-body').html(point.featureData.infoWindowHtml)
                        $('#modal-header').html($('#modal-body div div:first-child').removeAttr('style'));
                        $('#myModal').modal('show')
                    }
                }
            });
            map_number++;
        });
    };

    var Gisted = (function($, undefined) {
        var gist = function(gist_id) {
            var gistxhr = $.getJSON('/' + gist_id + '/content')
            .done(function(data, textStatus, xhr) {
                var description = data['description'];
                if (description) {
                    $("#description").text(description);
                    } else {
                    $("#description").text('');
                }
                var files = data['files'];
                var files_s = [];
                for (f in files) { files_s.push(f); };
                files_s.sort();
                var keys = Object.keys(files);
                var empty = true;
                for (var i in files_s) {
                    var file = files[files_s[i]];
                    if (file['rendered']) {
                        empty = false;
                        var filediv = $('<article>')
                        .attr('class', 'file')
                        .attr('data-filename', file['filename'])
                        .attr('id', file['filename']);
                        filediv.html("<h1>" + file['filename'] + "</h1>" + file['rendered'] + "<hr>");
                        $('#gistbody').append(filediv);
                    }
                }
                if (empty) {
                    apologize("No Content Found");
                }

                if (xhr.getResponseHeader("X-Cache-Hit") == "True") {
                    mixpanel.track("Cache Hit");
                    } else {
                    mixpanel.track("Cache Miss");
                }
                loadMaps();
            })
            .fail(function(xhr, status, error) {
                if (xhr.status == 404) {
                    apologize("No Content Found");
                    } else {
                    apologize("Unable to Fetch Gist");
                }
            })
            .always(function() {
                $("#description").removeClass("loading");
                $(".content>footer").fadeIn();
            });
        };
        var apologize = function(errorText) {
            $("#description").text(errorText);
            var apology = $('<p>').attr('class', 'apology').text("Quite flummoxed. Terribly sorry.");
            $('#gistbody').append(apology);
        };
        return {
            gist: gist
        };
    })(jQuery);

    $(function() {
        Gisted.gist({{gist_id}});
    });
</script>
{% endblock js %}

{% block extra_head %}
<style type="text/css">
    div[id|="map"] {
        height: 300px;
    }
</style>
<!-- start Mixpanel --><script type="text/javascript">(function(c,a){var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?g=
    a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1;window.mixpanel=a})(document,window.mixpanel||[]);
mixpanel.init("e40a6df697742f2cf16765678f174496");</script><!-- end Mixpanel -->
{% endblock %}
